<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite to Index">
                    <match url="^([^/]+)/?" />
                    <action type="Rewrite" url="index.php?url={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>